@import '../../../styles.scss';

.profile-nav-mobile {
  width: 100%;
  // border-top: 1px dotted black;
  // position: fixed;
  // left: 0;
  // bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 60px;
  background-color: var(--buttonBgColor);
  font-size: 20px;
  padding-top: 20px;
  color: black;
  // margin-bottom: 5em;

  a:not(:last-child) {
    margin-right: 20px;
  }

  @media only screen and (min-width: 600px) {
    display: none;
  }
}

// profile-nav-mobile
