<div class="page">
  <div class="forum-container">
    <div class="post-info-box">
      <h2>{{ post_title.title }}</h2>
      <p>Posted by: {{ post_title.created_by }}</p>
      <div>{{ post_title.body }}</div>
    </div>

    <div *ngFor="let reply of post_replies">
      <div class="post-reply-box">
        <h4>Posted By: {{ reply.created_by.name }}</h4>
        <div>{{ reply.body }}</div>
      </div>
    </div>
    <div id="reply-form-box">
      <form action="">
        <p>Did someone say something stupid? Correct them here:</p>

        <textarea name="body" id="input-reply" cols="50" rows="8" [(ngModel)]="newReply.body"></textarea>
        <!-- <input type="text" name="body" [(ngModel)]="newContact.github" /> -->
        <div id="submit-reply-button-box">
          <button (click)="postReply()" class="small-btn" id="submit-reply-button">Submit Reply</button>
        </div>
      </form>
    </div>
  </div>
</div>
