<div id="app">
  <div [hidden]="hideVideo"><video #video id="video" width="100%" autoplay></video></div>
  <div [hidden]="hideVideo"><button class="small-btn" id="snap" (click)="capture()">Snap Photo</button></div>

  <div *ngIf="showPhoto" class="image-box">
    <canvas #canvas id="canvas" width="100%"></canvas>
    <ul>
      <li *ngFor="let c of captures">
        <img src="{{ c }}" width="425" height="318.75" />
      </li>
    </ul>
  </div>

  <div *ngIf="confirm" class="confirm-image">
    <h2>Use This Image?</h2>
    <div class="confirm-options">
      <div class="yes-image option-confirm"><button type="submit" (click)="submitImage()">YES</button></div>
      <div class="no-image option-confirm"><button (click)="cancelSubmit()">NO</button></div>
    </div>
  </div>

  <div *ngIf="loading" class="loading">
    <div class="loading-container">
      <div class="lds-hourglass"></div>
      <br />
      L o a d i n g
    </div>
  </div>

  <div *ngIf="showWordConfirm" class="select-word">
    <h2>Please confirm word</h2>
    <div *ngFor="let result of results" class="word-confirm">
      <button class="small-btn" name="english_word" (click)="handleWordSelect($event)" value="{{ result }}">
        {{ result }}
      </button>
      <br />
    </div>

    <div class="type-word-option">
      <h2>Or type the word you'd like to translate.</h2>
      <input type="text" name="english_word" [(ngModel)]="english_word" class="type-word" />
    </div>

    <div [hidden]="!this.errorMessage" class="error-message-div">{{errorMessage}}</div>

    <div class="deck-select">
      <select name="add_to_deck" [(ngModel)]="add_to_deck" (change)="handleInputOnChange()">
        <option value="">Add Card To Deck</option>
        <option *ngFor="let deck of decks" value="{{ deck.id }}">{{ deck.name }}</option>
        <option value="new-deck">Create New Deck</option>
      </select>
    </div>

    <div *ngIf="newDeck" class="new-deck">
      <input type="text" name="new-deck-name" [(ngModel)]="new_deck_name" placeholder="deck name" class="type-word" />
    </div>

    <div class="submit-word">
      <button class="small-btn" [disabled]="isInvalid()" (click)="handleSubmitWord()">Submit</button>
    </div>
  </div>

  <div *ngIf="showSuccess" class="success-card-generated">
    <h1>Success!!!<br /></h1>
    <h2>Check your decks to start studying!</h2>
  </div>
</div>
