@import '../../../styles.scss';

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--headerColor);
  color: var(--headerFontColor);
  height: 60px;
  border-bottom: 1px solid black;
  top: 0;
  position: fixed;
}

.title-holder {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  #appName {
    font-family: var(--logoFont);
  }
  @media only screen and (min-width: 600px) {
    position: inherit;
    margin-top: 15px;
    left: 0;
    margin-left: 100px;
  }

  // @media only screen and (min-width: 600px) {
  //   display: none;
  // }

}

.header.dark-theme {
  --headerColor: hsl(197, 65%, 25%);
}


#appLogo {
  position: fixed;
  left: 0;
  padding-left: 10px;
  padding-bottom: 10px;

  // @media only screen and (max-width: 600px) {
  //   display: none;
  // }
}
