<div class="page">
  <div class="forum-container">
    <div>
      <h1>Your Decks</h1>
    </div>
    <div *ngIf="decks.length !== 0" class="most-recent-deck-container">
      <div>
        <h3 class="recent-title">Top Deck</h3>
        <a *ngIf="decks[0]" routerLink="{{ decks[0].id }}">
          <div class="most-recent-deck-box">
            <h3>{{ decks[0].name }}</h3>
          </div>
        </a>
      </div>
    </div>

    <div *ngIf="decks.length == 0">
      <h2>You have no decks.</h2>
      <a routerLink="/add-card">
        <div class="home-link-box">
          Click here to get started.
        </div>
      </a>
    </div>

    <div class="all-decks-container">
      <div *ngFor="let deck of decks">
        <div class="deck-box-container">
          <a routerLink="{{ deck.id }}">
            <div class="deck-box">
              {{ deck.name }}
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
