<div class="page">
  <div class="forum-container">
    <h2>Deck: {{ deck.name }}</h2>

    <div class="top-side-scroll-container">
      <div class="flip-card" *ngFor="let card of cards">
        <div
          class="flip-card-inner"
          [ngClass]="{ 'flip-card-inner-flipped': card.isflipped }"
          (click)="card.isflipped = !card.isflipped"
        >
          <div class="flip-card-front">
            <img class="card-image" src="{{ card.users_cards.cards.image_link }}" alt="" />
            <h4>{{ card.users_cards.cards.words.english_word }}</h4>
          </div>

          <div class="flip-card-back">
            <!-- <h4>{{ card.users_cards.cards.words[findTranslatedWord] }}</h4> -->
            <h4 *ngIf="target_language == 'italian'">
              {{ card.users_cards.cards.words.italian_translations.italian_word }}
            </h4>

            <h4 *ngIf="target_language == 'spanish'">
              {{ card.users_cards.cards.words.spanish_translations.spanish_word }}
            </h4>
            <h4 *ngIf="target_language == 'japanese'">
              {{ card.users_cards.cards.words.japanese_translations.japanese_word }}
            </h4>
            <!-- <h4>{{ card[findTranslatedWord] }}</h4> -->
          </div>
        </div>
      </div>
    </div>

    <div class="test-button-box">
      <button (click)="createTest()" class="small-btn">Test</button>
    </div>

    <!-- <div class="test-button-box">
      <button class="small-btn">Learn</button>
    </div> -->
    <div class="test-button-box">
      <button class="small-btn">Add Card</button>
    </div>
  </div>
</div>

<!-- (click)="status = !status" [ngClass]="status ? 'card-container' : 'card-container-is-flipped'" -->
