<div class="page">
  <div class="forum-container">
    <div *ngIf="showMain">
      <h2>Deck: {{ deck.name }}</h2>

      <div class="top-side-scroll-container">
        <div class="flip-card" *ngFor="let card of cards">
          <div
            class="flip-card-inner"
            [ngClass]="{ 'flip-card-inner-flipped': card.isflipped }"
            (click)="card.isflipped = !card.isflipped"
          >
            <div class="flip-card-front">
              <img class="card-image" src="{{ card.users_cards.cards.image_link }}" alt="" />
              <h4>{{ card.users_cards.cards.words.english_word }}</h4>
            </div>

            <div class="flip-card-back">
              <!-- <h4>{{ card.users_cards.cards.words[findTranslatedWord] }}</h4> -->
              <h4 *ngIf="target_language == 'italian'">
                {{ card.users_cards.cards.words.italian_translations.italian_word }}
              </h4>

              <h4 *ngIf="target_language == 'spanish'">
                {{ card.users_cards.cards.words.spanish_translations.spanish_word }}
              </h4>
              <h4 *ngIf="target_language == 'japanese'">
                {{ card.users_cards.cards.words.japanese_translations.japanese_word }}
              </h4>
              <!-- <h4>{{ card[findTranslatedWord] }}</h4> -->
            </div>
          </div>
        </div>
      </div>

      <div class="test-button-box">
        <button (click)="createTest()" class="small-btn">Test</button>
      </div>

      <div class="test-button-box add-card-button">
        <button class="small-btn" (click)="handleAddCard()">Add Card</button>
      </div>

      <div class="test-button-box add-card-button">
        <button class="small-btn" (click)="handleRemoveCards()">Remove Card</button>
      </div>
    </div>

    <div class="add-card-to-deck" *ngIf="addCards">
      <div *ngIf="cardsNotInDeck.length > 0">
        <h1>Add Card To Deck - {{ deck.name }}</h1>
        <br /><br />
        <div class="cards-not-in-deck" *ngFor="let card of cardsNotInDeck">
          <input type="checkbox" class="not-in-deck" value="{{ card.id }}" (click)="addToDeck($event)" />
          &nbsp;&nbsp; <img *ngIf="card.cards.image_link" src="{{ card.cards.image_link }}" /> &nbsp;&nbsp;
          {{ card.cards.words.english_word }}
        </div>
        <div class="test-button-box">
          <button class="small-btn" (click)="handleSubmit()">Submit</button>
        </div>
      </div>

      <div *ngIf="cardsNotInDeck.length === 0">
        <h2>You have no more cards to add to this deck!</h2>
      </div>

      <div class="test-button-box">
        <button class="small-btn cancel" (click)="handleCancel()">Cancel</button>
      </div>
    </div>

    <div class="remove-cards-from-deck" *ngIf="removeCards">
      <h2>Click or Tap To Remove Cards From Deck</h2>

      <div class="remove-cards" *ngFor="let card of cards">
        <button class="small-btn card-remove" value="{{card.id}}" (click)="handleTrashCard($event)">
          <i class="fas fa-trash-alt"></i>&nbsp;&nbsp;{{ card.users_cards.cards.words.english_word }}
        </button>
        <div class="card-to-remove"></div>
      </div>

      <div class="test-button-box">
        <button class="small-btn cancel" (click)="handleCancel()">Back To Deck Detail</button>
      </div>
    </div>
  </div>
</div>

<!-- (click)="status = !status" [ngClass]="status ? 'card-container' : 'card-container-is-flipped'" -->
