<div class="page">
  <div class="forum-container">
    <h2>Deck: {{ deck.name }}</h2>

    <div class="top-side-scroll-container">
      <div class="flip-card" *ngFor="let card of cards">
        <div
          class="flip-card-inner"
          [ngClass]="{ 'flip-card-inner-flipped': card.isflipped }"
          (click)="card.isflipped = !card.isflipped"
        >
          <div class="flip-card-front">
            <img class="card-image" src="{{ card.users_cards.cards.image_link }}" alt="" />
            <h4>{{ card.users_cards.cards.words.english_word }}</h4>
          </div>

          <div class="flip-card-back">
            <h4>{{ card.users_cards.cards.words.spanish_translations.spanish_word }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- (click)="status = !status" [ngClass]="status ? 'card-container' : 'card-container-is-flipped'" -->
