<div>

  <div class="profile">
    <h1>User's Profile</h1>

    <div class="profile-photo-div">
      User Image Here
    </div>

    <div class="profile-info-div">
      <p><span [hidden]="user.username">Username</span><span [hidden]="!user.username">{{user.username}}</span></p>
      <p>Rating: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>

    </div>

    <div class="profile-language-div">
      <p>Primary Language:</p>
      <p>Languages Learning:</p>
    </div>

    <div class="profile-settings-div">
      <button class="small-btn">
          <i class="fas fa-user-cog"></i>&nbsp;&nbsp;Settings
      </button>
    </div>


  </div>

</div>