<app-profile-nav-mobile></app-profile-nav-mobile>

<div class="page">
  <div *ngIf="user" class="profile-page">
    <div class="profile">
      <div (click)="toUserSettings()" class="profile-setup-banner" *ngIf="user.target_languages.length == 0">
        Hey! You have no target language. Click here to finish setting up your profile.
      </div>
      <div class="profile-photo-div">
        <img src="{{ user.profile_image_url }}" />
      </div>

      <div class="profile-info-div">
        <h2>
          <span [hidden]="user.username">Username</span
          ><span *ngIf="checkUser" [hidden]="!user.username">{{ user.name }}</span
          ><span *ngIf="!checkUser" [hidden]="!user.username">{{ user.username }}</span>
        </h2>
        <p>Rating: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
      </div>

      <div class="profile-language-div">
        <p><span>Primary Language</span><br />English</p>
        <p><span>Languages Learning</span><br />{{ user.target_languages }}</p>
      </div>

      <div class="profile-stats-div">
        <h3>User Stats</h3>
        <p>Cards Collected:&nbsp;&nbsp;{{ user.cards_owned }}</p>
        <p>Cards Created:&nbsp;&nbsp;{{ user.cards_created }}</p>
        <p>Decks:&nbsp;&nbsp;{{ user.decks }}</p>
      </div>

      <div *ngIf="checkUser" class="profile-settings-div">
        <button class="small-btn" (click)="toUserSettings()">
          <i class="fas fa-user-cog"></i>&nbsp;&nbsp;Settings
        </button>
        <br /><br />
        <button class="small-btn" (click)="logout()"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Logout</button>
      </div>

      <div *ngIf="isNotContact" class="profile-settings-div">
        <button class="small-btn" (click)="sendInvite()">
          <i class="fas fa-user-cog"></i>&nbsp;&nbsp;Send Contact Invite
        </button>
        <div *ngIf="message !== ''">
          {{ message }}
        </div>
      </div>
    </div>
  </div>
</div>
