<div id="forumContainer">
  <div id="generalTopic">
    <h1>General</h1>
    <div id="generalMessages">
      <div id="postContainer">
        <i class="fas fa-comments"></i>
        <ul>
          Post
        </ul>
      </div>
      <div id="postContainer">
        <i class="fas fa-comments"></i>
        <ul>
          Post
        </ul>
      </div>
      <div id="postContainer">
        <i class="fas fa-comments"></i>
        <ul>
          Post
        </ul>
      </div>
      <div id="postContainer">
        <i class="fas fa-comments"></i>
        <ul>
          Post
        </ul>
      </div>
    </div>
  </div>

  <div id="randomTopic">
    <h1>Random</h1>
    <div id="randomMessages">
      <div id="postContainer">
        <i class="fas fa-comments"></i>
        <ul>
          Post
        </ul>
      </div>
      <div id="postContainer">
        <i class="fas fa-comments"></i>
        <ul>
          Post
        </ul>
      </div>
      <div id="postContainer">
        <i class="fas fa-comments"></i>
        <ul>
          Post
        </ul>
      </div>
      <div id="postContainer">
        <i class="fas fa-comments"></i>
        <ul>
          Post
        </ul>
      </div>
    </div>
  </div>

  <div id="englishTopic">
    <h1>English</h1>
    <div id="englishMessages">
      <i class="fas fa-comments"></i>
      <ul>
        Post
      </ul>
      <i class="fas fa-comments"></i>
      <ul>
        Post
      </ul>
      <i class="fas fa-comments"></i>
      <ul>
        Post
      </ul>
      <i class="fas fa-comments"></i>
      <ul>
        Post
      </ul>
    </div>
  </div>

  <div id="spanishTopic">
    <h1>Spanish</h1>
    <div id="spanishMessages">
      <i class="fas fa-comments"></i>
      <ul>
        Post
      </ul>
      <i class="fas fa-comments"></i>
      <ul>
        Post
      </ul>
      <i class="fas fa-comments"></i>
      <ul>
        Post
      </ul>
      <i class="fas fa-comments"></i>
      <ul>
        Post
      </ul>
    </div>
  </div>

  <div id="italianTopic">
    <h1>Italian</h1>
    <div id="italianMessages">
      <i class="fas fa-comments"></i>
      <ul>
        Post
      </ul>
      <i class="fas fa-comments"></i>
      <ul>
        Post
      </ul>
      <i class="fas fa-comments"></i>
      <ul>
        Post
      </ul>
      <i class="fas fa-comments"></i>
      <ul>
        Post
      </ul>
    </div>
  </div>
</div>
