@import '../../../styles.scss';

.change-language-box {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.language-dropdown {
  background-color: var(--headerColor);
  border: none;
  border-radius: 5px;
  height: 40px;
  color: white;
  font-size: 16px;
  padding-left: 15px;

  @media only screen and (min-width: 768px) {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
.submit-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flag-box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1em 0em 1em 0em;

  .lang-flag-img {
    width: auto;
    height: 125px;
    border: 3px solid #bbb;
  }
  .lang-flag-img:hover {
    border-color: var(--headerColor);
  }
  .lang-flag-img:active {
    border-color: var(--headerColor);
  }
}

.small-btn2 {
  padding: 10px 15px;
  border-radius: 6px;
  width: 300px;
  font-size: 16px;
  color: var(--buttonFontColor);
  background-color: var(--buttonBgColor);
  // border: var(--buttonBorder);
  border: none;
  margin: 1em;

  @media only screen and (min-width: 768px) {
    width: 60%;
  }

  &:hover {
    background-color: var(--buttonHoverColor);
    cursor: pointer;
  }

  &:disabled {
    background-color: lightgray;
    cursor: not-allowed;
  }
}

.primary-box {
  // display: flex;
  width: 100%;
}

.primary-img {
  width: 80px;
  height: auto;
  border: 1px solid #bbb;
}
