<div class="search">
  <div class="search-bar">
    <form>
      <div class="search-input">
        <input
          type="text"
          placeholder="Search..."
          name="searchText"
          [(ngModel)]="searchText.searchText"
          (keyup)="searchInit()"
        />
      </div>
    </form>
    <div class="search-icon">
      <button class="fas fa-search fa-lg" (click)="searchFull()"></button>
    </div>
  </div>

  <div class="search-match-box">
    <div *ngFor="let searchMatch of searchMatches">
      <div (click)="showDetail(searchMatch.match_id, searchMatch.match_type)" class="search-match">
        <span class="match-image">
          <img src="{{ searchMatch.match_image }}" />
        </span>
        <span
          [ngClass]="{
            'match-own': true,
            fas: searchMatch.match_own > 0,
            far: searchMatch.match_own === '0',
            'fa-layer-group': searchMatch.match_type === 'card' && searchMatch.match_own > 0,
            'fa-square': searchMatch.match_type === 'card' && searchMatch.match_own === '0',
            'fa-user-friends': searchMatch.match_type === 'user' && searchMatch.match_own > 0,
            'fa-user': searchMatch.match_type === 'user' && searchMatch.match_own === '0'
          }"
        ></span>
        <span class="match-name">{{ searchMatch.match_name }}</span>
      </div>
    </div>
  </div>
</div>
