@import '../../../styles.scss';

.forum-container {
  margin-top: 30px;
}

.contact-box {
  background-color: var(--headerColor);
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.contact-image {
  width: 100px;
  max-height: 100px;
  border-radius: 5px;
}

.send-message-button {
  background-color: var(--buttonBgColor);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5em;
  height: 50%;
  margin: 1em;
  width: 70%;
}

.delete-contact-button {
  background-color: red;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5em;
  height: 50%;
  margin: 1em;
  width: 70%;
}
.left-side-contact {
  width: 50%;
}

.right-side-contact {
  width: 50%;
  display: inline-block;
}
.right-side-inner {
  margin: 1em;
  width: 100%;
}

.new-conversation {
  font-size: 16px;
  width: 100%;
  text-align: center;

  .add-to-message {
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
  }

  .message-body-div {
    input {
      border: 3px solid var(--accentColor);
      padding-left: 5px;
      font-size: 16px;
      width: 100%;
      margin: 15px 0px;
      height: 35px;
    }
  }

  .cancel-btn {
    background-color: red;
  }

  .additional {
    cursor: pointer;
    color: var(--accentColor);
  }
}
