@import '../../../styles.scss';

.login-container {
  margin-top: 100px;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;

  form {
    div {
      margin-bottom: 15px;
    }
  }

  .type-word {
    border: 0px;
    background-color: lighten(lightgrey, 10%);
    font-size: 30px;
    height: 50px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 15px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

    @media only screen and (min-width: 768px) {
      width: 60%;
    }
  }

  #my-signin2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

#google-link {
  text-decoration: none;
  color: black;
}

#google-name {
  display: flex;
  justify-content: center;
}
.google-auth-box {
  display: flex;
  justify-content: center;
}

#g {
  color: #4086f4;
}
#o1 {
  color: #e74832;
}
#o2 {
  color: #f6bd20;
}
#l {
  color: #5baa52;
}

#login-text {
  width: 100%;
}

#google-name {
  margin: 1em 0em 1em 0em;
  border: 1px solid var(--headerColor);
  border-radius: 5px;
}
#google-name:hover {
  border-color: #4086f4;
}
