<div class="page">
  <div class="about-page">
    <h1>About myLingual</h1>

    <p>The brainchild of Brett "Seventeen" Matsumoto, myLingual was incubated in a smelly blue room in Box Jelly as the Final Boss of Cohort 28's journey through DrevLeague.</p>

    <h2>Technologies Used</h2>
    <ul>
      <li>Angular 7</li>
      <li>Google Vision API</li>
      <li>Google Translate API</li>
      <li>Oxford Dictionary API</li>
      <li>Amazon S3/EC2</li>
      <li>Express</li>
      <li>Redis</li>
      <li>Postgres</li>
      <li>Docker</li>
      <li>Express</li>
      <li>Ed Kim</li>
    </ul>
  </div>
</div>