<div class="page">
  <div class="about-page">
    <h1>About myLingual</h1>

    <p>
      The brainchild of Brett "Seventeen" Matsumoto, myLingual was incubated in a smelly blue room in Box Jelly as the
      Final Boss of Cohort 28's journey through DrevLeague.
    </p>

    <h2>Team Members</h2>
    <ul>
      <li>Frank</li>
      <li>Luke</li>
      <li>Ron</li>
      <li>Brett</li>
      <li>Brenda</li>
      <li>Chamoy</li>
      <li>Gobi</li>
    </ul>

    <h2>Team Mascot</h2>
    <ul>
      <li>5! is 17</li>
    </ul>

    <h2>Technologies Used</h2>
    <ul>
      <li>Angular 7</li>
      <li>Google Vision API</li>
      <li>Google Translate API</li>
      <li>Oxford Dictionary API</li>
      <li>Amazon S3/EC2</li>
      <li>Express</li>
      <li>Redis</li>
      <li>Postgres</li>
      <li>Docker</li>
      <li>Express</li>
      <li>Ed Kim</li>
    </ul>

    <h2>Fun Facts</h2>
    <ul>
      <li>This site is 65% copy+paste</li>
    </ul>

    <h2>Special Thanks To</h2>
    <ul>
      <li>Stack Overflow</li>
      <li>Ed</li>
      <li>Brad</li>
      <li>DrevLeague</li>
      <li>Vic's Japanese Word of the Day</li>
      <li>The internet</li>
    </ul>
  </div>
</div>
