<!-- <div class="page"> -->
<div class="about-page">
  <div class="about-title">
    <h1>About myLingual</h1>
  </div>
  <div class="inner-about">
    <p>
      The brainchild of Brett "Seventeen" Matsumoto, myLingual was incubated in Box Jelly as the
      Final Boss of Cohort 28's journey through DevLeague.
    </p>

    <div class="content-header">
      <h2>Team Members</h2>
    </div>
    <div class="team-photo-box">
      <img id="team-photo" src="../../../assets/download.jpeg" alt="" />
    </div>
    <ul>
      <li>Brenda 'Easy Street' Flores</li>
      <li>Frank 'The Tank' Heggeness</li>
      <li>Luke 'ForceWielder30' Fiorio</li>
      <li>Brett 'Seventeen' Matsumoto</li>
      <li>Ron 'JohnSilvers' Nagata</li>
    </ul>

    <div class="content-header">
      <h2>Technologies Used</h2>
    </div>
    <ul>
      <li>Angular 7</li>
      <li>Typescript</li>
      <li>Javascript</li>
      <li>HTML</li>
      <li>SCSS</li>
      <li>SQL</li>
      <li>Knex</li>
      <li>Bookshelf</li>
      <li>Google Vision API</li>
      <li>Google Translate API</li>
      <li>Oxford Dictionary API</li>
      <li>Amazon Web Services</li>
      <li>Express</li>
      <li>Redis</li>
      <li>Postgres</li>
      <li>Docker</li>
      <li>Google Open Authorization </li>
      <li>Bcryptjs</li>
      <li>Passport</li>
      <li>Ed Kim</li>
      <li>Socket.io</li>
    </ul>

    <div class="content-header">
      <h2>Special Thanks To</h2>
    </div>
    <ul>
      <li>Stack Overflow</li>
      <li>Ed</li>
      <li>Brad</li>
      <li>Mel</li>
      <li>Jason</li>
      <li>DevLeague</li>
      <li>Vic</li>
    </ul>
    
    <div class="content-header">
      <h2>Fun Facts</h2>
    </div>
    <ul>
      <li>This application was developed and deployed all in a two week period!</li>
      <li>Born from a love of languages and learning</li>
      <li>Inspired by applications such as Quizlet and Duolingo</li>
    </ul>
    
    <div class="content-header">
      <h2>Team Mascots</h2>
    </div>

    <ul>
      <li>17</li>
      <li>Gobi</li>
      <li>Chamoy</li>
    </ul>
  </div>
</div>
<!-- </div> -->
