<div>
  <br />
  <br />
  <br />

  <div class="login-container">
    <h1>Welcome!</h1>
    <br />

    <div class="google-auth-box">
      <a id="google-link" href="/api/auth/google">
        <h3 id="login-text">
          Log in with:
          <div id="google-name">
            <h3 id="g">G</h3>
            <h3 id="o1">o</h3>
            <h3 id="o2">o</h3>
            <h3 id="g">g</h3>
            <h3 id="l">l</h3>
            <h3 id="o1">e</h3>
          </div>
        </h3></a
      >
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <div id="versionNumBox">
    <div id="versionNum">v. 1.0.0</div>
  </div>
</div>
