<div>

  <div class="page">

    <div class="login-container">
        <h1>Welcome!</h1>
        <h2>Log in to continue</h2>
        <br />
        <form>
          <div>
            <input type="text" name="username" placeholder="username" class="type-word" [(ngModel)]="formData.username" />
          </div>
    
          <div>
            <input type="password" name="password" placeholder="password" class="type-word" [(ngModel)]="formData.password" />
          </div>
    
          <div>
            <button class="small-btn" (click)="login()">Login</button>
          </div>

        </form>

        <!-- <div id="my-signin2" (click)="googleSignin()">Google Sign In</div> -->
        <a href="/api/auth/google">google</a>

      </div>


  </div>

</div>
