<div class="conversation-page">
  <div class="messages-container" id="messages-container">
    <div *ngFor="let message of messages">
      <div *ngIf="userId == message.sent_by_user_id" class="outer-message-box-user">
        <div class="message-box" class="user-message">
          <p class="sent_by">{{ message.sent_by_username }}</p>
          <div class="message-body">{{ message.body }}</div>
          <p class="message-date">{{ message.created_at | date: 'medium' }}</p>
        </div>
      </div>

      <div *ngIf="userId !== message.sent_by_user_id" class="outer-message-box-other">
        <div class="message-box" class="other-message">
          <p class="sent_by">{{ message.sent_by_username }}</p>
          <div class="message-body">{{ message.body }}</div>
          <p class="message-date">{{ message.created_at | date: 'medium' }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="input-message-container">
    <form action="">
      <div id="form-div">
        <input
          id="message-input"
          type="text"
          name="message"
          [(ngModel)]="messageBody"    
        /> 
        <button 
        id="submit-message-button"
        [disabled]="messageBody.length === 0" 
        (click)="sendMessage()"
        >Send</button>
        <br />
      </div>
    </form>
  </div>
</div>
