<!-- <div class="page">
  <div *ngFor="let message of messages">
    <div *ngIf="{{message}}">
        <p>{{ message.sent_by_username }}</p>
        <p>{{ message.created_at | date: 'medium' }}</p>
        <p>{{ message.body }}</p>
    </div>
  </div>

  <form>
    <label for="message"></label>
    <div>
      <input
        type="text"
        name="message"
        [(ngModel)]="messageBody"
        (keyup)="$event.keyCode == 13 ? sendMessage() : null"
      />
    </div>
  </form>
</div> -->

<!-- <div class="page"> -->
<div class="conversation-page">
  <div class="messages-container" id="messages-container">
    <div *ngFor="let message of messages">
      <div *ngIf="userId == message.sent_by_user_id" class="outer-message-box-user">
        <div class="message-box" class="user-message">
          <p class="sent_by">{{ message.sent_by_username }}</p>
          <div class="message-body">{{ message.body }}</div>
          <p class="message-date">{{ message.created_at | date: 'medium' }}</p>
        </div>
      </div>

      <div *ngIf="userId !== message.sent_by_user_id" class="outer-message-box-other">
        <div class="message-box" class="other-message">
          <p class="sent_by">{{ message.sent_by_username }}</p>
          <div class="message-body">{{ message.body }}</div>
          <p class="message-date">{{ message.created_at | date: 'medium' }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="input-message-container">
    <form action="">
      <div id="form-div">
        <input
          id="message-input"
          type="text"
          name="message"
          [(ngModel)]="messageBody"
          (keyup)="$event.keyCode == 13 ? sendMessage(messageBody) : null"
        />
        <div id="button-container">
          <!-- <button (click)="sendMessage()" id="submit-message-button">Send</button> -->
        </div>
      </div>
    </form>
  </div>
</div>
<!-- </div> -->
