<div>
  <div class="home">
    <div id="recentlyViewedCards">
      <h1>Recently Viewed Cards</h1>
      <div id="recentCardsRow">
        <div class="recentCards">Card 1</div>
        <div class="recentCards">Card 2</div>
        <div class="recentCards">Card 3</div>
        <div class="recentCards">Card 4</div>
        <div class="recentCards">Card 5</div>
        <div class="recentCards">Card 6</div>
        <div class="recentCards">Card 7</div>
        <div class="recentCards">Card 8</div>
        <div class="recentCards">Card 9</div>
        <div class="recentCards">Card 10</div>      
      </div>
    </div>
    <div id="allDecks">
        <h1>Saved Decks</h1>
        <div id="deckRow">
          <div class="decks">Deck 1</div>
          <div class="decks">Deck 2</div>
          <div class="decks">Deck 3</div>
          <div class="decks">Deck 4</div>
          <div class="decks">Deck 5</div>
          <div class="decks">Deck 6</div>
          <div class="decks">Deck 7</div>
          <div class="decks">Deck 8</div>
          <div class="decks">Deck 9</div>
          <div class="decks">Deck 10</div>      
        </div>
      </div>
  </div>
</div>
