<div class="pages">
  <div id="searchInput">
    <input type="text" value="Search For A Card" />
    <button>Search</button>
  </div>

  <div id="lastDeckDiv">
    <div id="lastDeckHolder">
      <a class="lastDeck">Last Deck Viewed</a>
    </div>
  </div>

  <div class="savedDecks">
    <div id="allDecks">
      <div id="deckRow">
        <a class="decks">Deck 1</a>
        <a class="decks">Deck 2</a>
        <a class="decks">Deck 3</a>
        <a class="decks">Deck 4</a>
        <a class="decks">Deck 5</a>
        <a class="decks">Deck 6</a>
        <a class="decks">Deck 7</a>
        <a class="decks">Deck 8</a>
        <a class="decks">Deck 9</a>
        <a class="decks">Deck 10</a>
      </div>
    </div>
  </div>

  <div id="btn-div">
    <button class="small-btn"><i class="far fa-plus-square"></i>&nbsp;&nbsp;Add A New Deck</button>
  </div>
</div>
