<div class="page">
  <app-search-bar></app-search-bar>

  <div class="home-nav-box">
    <a routerLink="/decks">
      <div class="home-link-box">
        My Decks
      </div>
    </a>
    <a routerLink="/add-card">
      <div class="home-link-box">
        Add Card
      </div>
    </a>

    <a routerLink="/forums">
      <div class="home-link-box">
        Forums
      </div>
    </a>

    <a routerLink="/messages">
      <div class="home-link-box">
        Messages
      </div>
    </a>

    <a routerLink="/profile">
      <div class="home-link-box">
        Profile
      </div>
    </a>

    <a routerLink="/about">
      <div class="home-link-box">
        About
      </div>
    </a>

    <!-- <div class="home-link-box">
      Lingot Shop (Coming Soon!)
    </div> -->
  </div>
</div>
