/* You can add global styles to this file, and also import other style files */

:root {
  --bgColor: 	hsl(0, 0%, 100%);
  --headerColor: 	hsl(197, 65%, 55%);
  --headerFontColor: 	hsl(0, 0%, 100%);
  --navColor: 	hsl(197, 65%, 55%);
  --accentColor: hsl(197, 56%, 69%);

  --activeLinkColor: 	hsl(197, 65%, 25%);
  --hoverLinkColor: 	hsl(181, 83%, 58%);

}

a:link {
  text-decoration: none;
  color: var(--activeLinkColor);
}

a:hover {
  color: var(--hoverLinkColor);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--bgColor);
}

.header {
   background-color: var(--headerColor);
}

.header.dark-theme {
  --headerColor: hsl(197, 65%, 25%);
}

.nav { 
  background-color: var(--navColor);
}