@import '../../components/header/header.component';

$heartIconSize: 25px;
$fontOffset: 3px;
$fontOffset_H2: 4px;

$arrowSize: 200px;
$arrowSizeTablet: 80px;
$arrowColor: hsl(197, 65%, 55%);
$arrowMargin: 100px;

$containerSpacing: 40px;

$creatorElementsColor_BG: lighten($arrowColor, 40%);
$creatorElementsBorderRadius: 20px;
$creatorImageHeight: 150px;
$creatorStatusIconSize: 50px;

$sectionToHeaderOffset: 100px;

$flashcardBottomMargin: 30px;

#flashcard-page {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;

  margin: ($headerHeight + $sectionToHeaderOffset) 0 100px 0;

  #flashcard-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
    border: none;

    #flip-container-wrapper {
      .flip-container {
        perspective: 1000px;
      }
  
      .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
      }
  
      .flip-container, .front, .back {
        width: 800px;
        height: 400px;
      }
  
      .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
  
        position: relative;
      }
  
      .front, .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
      }
  
      .front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
      }
  
      .back {
        transform: rotateY(180deg);
      }
    }
    
    .change-flashcard-large {
      clip-path: circle(45%);
    }

    .flashcard-base {
      display: flex;
      flex-direction: column;
      align-items: center; // vertical
      justify-content: center; // horizontal

      background: whitesmoke;
      color: black;
      border: 1px solid black;
      border-radius: 10px;

      width: 100%;
      height: 100%;

      .title {
        display: flex;
        flex-direction: row;
        align-items: center; // vertical
        justify-content: center; // horizontal
        text-transform: capitalize;

        width: 100%;
        height: 15%;

        margin-bottom: 2%;
        border-bottom: 1px solid black;
      }

      .body{
        display: flex;
        flex-direction: column;
        align-items: center; // vertical
        justify-content: center; // horizontal

        height: 81%;
        width: 100%;
        padding-bottom: 2%;

        h2 {
          text-transform: uppercase;
        }

        img {
          width: auto;
          height: 100%;
        }
      }
    }

    #translations {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;

      .language {
        display: flex;
        flex-direction: row;
        background: white;

        border-radius: 10px;

        h3 {
          margin: 0;
          padding: 5px 10px 5px 10px;
        }

        .label{
          font-variant: small-caps;
        }
      }
    }
  }
}

#arrow-buttons-mobile-container {
  display: flex;
  align-content: center;
  justify-content: space-evenly;

  margin-top: $containerSpacing;
}



#social-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid black;

  margin: 0 10px 0 10px;
  padding-top: 8px;
}

#flashcard-additional-details {
  margin: $containerSpacing 0 0 0;
}

#creator-header {
  display: flex;
  flex-direction: row;
  
  margin-right: 15px;
  margin-left: 15px;
  padding: 10px;
  background: $creatorElementsColor_BG;
  border-radius: $creatorElementsBorderRadius;
  height: 200px;

  img {
    // margin: 20px;

    height: 100%;
    width: auto;

    border-radius: 20px;
  }

  .fa-user-friends:before {
    font-size: $creatorStatusIconSize;
  }

  .fa-user:before {
    font-size: $creatorStatusIconSize;
  }
}

#creator-languages {
  background: $creatorElementsColor_BG;
  border-radius: $creatorElementsBorderRadius;

  margin-top: $containerSpacing;
  margin-right: 15px;
  margin-left: 15px;
  padding: 14px;
}



.image-blurred-edge {
  width: 200px;
  height: 180px;
  box-shadow: 0 0 3px 10px #eaf6fb inset;
  border: none;
}

.social-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  font-size: $heartIconSize;

  i {
    color: black;
    font-size: $heartIconSize;
    align-self: center;
    justify-self: center;
  }

  p {
    margin: 0 10px 0 10px;
    padding: 0;
    font-size: $heartIconSize + $fontOffset;
  }

  button {
    background: none;
    min-width: 50%;
    padding: 5px;
    border: 5px solid black;
    border-radius: 10px;
  }
}

.arrow-button-mobile {
  display: none;
}

.fa-arrow-alt-circle-left::before {
  font-size: $arrowSize;
  color: $arrowColor;
}

.fa-arrow-alt-circle-right::before {
  font-size: $arrowSize;
  color: $arrowColor;
}

button:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .fa-arrow-alt-circle-left::before {
    font-size: $arrowSizeTablet;
    
  }
  
  .fa-arrow-alt-circle-right::before {
    font-size: $arrowSizeTablet;
  }
}

@media only screen and (max-width: 425px){
  #flashcard-page {
    
    padding: 20px 0 100px 0;
  }

  #flashcard {
    width: 350px;
    margin: 0;

    img {
      width: 300px;
    }
  }

  .arrow-button {
    display: none;
  }

  .arrow-button-mobile {
    display: initial;
  }

  img {
    width: 300px;
    height: auto;
  }
}

@media only screen and (max-width: 320px) {

  #flashcard {
    width: 280px;

    img {
      width: 230px;
    }
  }

}

