$flashcardWidth: 400px;
$flashcardPadding: 10px;
$imageMargins: 10px;


.flashcard-page {
  display: flex;
  justify-content: center;

  padding: 40px;
}

.flashcard {
  border: 1px solid black;
  background: blue;
  color: white;

  padding: $flashcardPadding;
  width: $flashcardWidth;

  ul {
    list-style: none;
  }

  img {
    align-self: center;
    margin: $imageMargins;
    width: $flashcardWidth - (($imageMargins + $flashcardPadding) * 2);
    height: auto;
  }
}