@import '../../components/header/header.component';

$socialIconSize: 25px;

$arrowSize: 200px;
$arrowSizeSmallerDesktop: 140px;
$arrowSizeTablet: 80px;
$arrowColor: hsl(197, 65%, 55%);

$containerSpacing: 40px;
$sectionToHeaderOffset: 100px;

#flashcard-page {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-evenly;

  margin: ($headerHeight + $sectionToHeaderOffset) 0 100px 0;
  padding: 0px 20px 0 20px;
}

#flashcard-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border: none;

  margin-bottom: $containerSpacing + 50px;

  #flip-container-wrapper {
    .flip-container {
      perspective: 1000px;
    }

    .flip-container.hover .flipper {
      transform: rotateY(180deg);
    }

    .flip-container,
    .front,
    .back {
      width: 600px;
      height: 400px;
    }

    .flipper {
      transition: 0.6s;
      transform-style: preserve-3d;

      position: relative;
    }

    .front,
    .back {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    .front {
      z-index: 2;
      transform: rotateY(0deg);
    }

    .back {
      transform: rotateY(180deg);
    }
  }

  .change-flashcard-large {
    clip-path: circle(45%);
  }

  .flashcard-base {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: whitesmoke;
    color: black;
    border: 1px solid black;
    border-radius: 10px;

    width: 100%;
    height: 100%;

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      text-transform: capitalize;

      width: 100%;
      height: 15%;

      margin-bottom: 2%;
      border-bottom: 1px solid black;
      padding: 0 15px 0 15px;
    }

    .likes {
      display: flex;
      align-items: center;
      font-size: $socialIconSize;

      i {
        padding-right: 10px;
      }
    }

    .downloads {
      display: flex;
      align-items: center;
      font-size: $socialIconSize;
      i {
        padding-left: 10px;
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      height: 81%;
      width: 100%;
      padding: 2%;

      h2 {
        text-transform: uppercase;
      }

      img {
        max-width: 90%;
        max-height: 90%;
      }
    }
  }

  #translations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

    .language {
      display: flex;
      flex-direction: row;
      background: white;

      border-radius: 10px;

      h3 {
        margin: 0;
        padding: 5px 10px 5px 10px;
      }

      .label {
        font-variant: small-caps;
      }
    }
  }

  button {
    background: none;
    border: none;
  }
}

#creator-section {
  display: flex;
  flex-direction: column;
  margin: $containerSpacing 0 0 0;
  background: $arrowColor;
  border-radius: 20px;
  padding: 10px;
  width: 100%;

  #creator-header {
    display: flex;
    flex-direction: row;
    vertical-align: middle;

    margin-bottom: 10px;

    h2 {
      margin: 0;
    }

    .fa-user-friends:before {
      font-size: 30px;
      padding-right: 10px;
    }

    .fa-user:before {
      font-size: 30px;
      padding-right: 10px;
    }
  }

  #creator-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
      width: auto;
      max-width: 25%;
      height: 200px;

      border-radius: 20px;
    }

    .creator-profile-element {
      width: 25%;
      padding: 0 10px 0 10px;

      p {
        text-transform: capitalize;
      }
    }
  }
}

#change-flashcard-mobile-section {
  display: none;
  margin-bottom: $containerSpacing;

  .change-flashcard-mobile {
    clip-path: circle(45%);
  }

  button {
    background: none;
    border: none;
  }
}

#interaction-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 10px 0 10px;

  .interaction-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    padding-bottom: 10px;
  }

  .interaction-bullets {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px 5px 15px 5px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 20px;

    input[type='radio'] {
      padding: 5px;
    }
  }

  p {
    margin: 0;
  }

  button {
    border: 2px solid black;
    color: black;
    background: lightblue;

    padding: 10px;
    font-size: 20px;

    border-radius: 50px;
  }

  button:disabled {
    background: black;
    color: white;
    border: none;
    font-size: 20px;
  }
}

#definition-section {
  display: flex;
  flex-direction: column;
  margin: $containerSpacing 0 0 0;
  background: $arrowColor;
  border-radius: 20px;
  padding: 20px 10px 10px 10px;
  width: 100%;

  .definition-element {
    margin-bottom: 10px;
  }
  h3 {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0 0 0 5%;
  }

  li {
    margin: 15px 0 0 0;
  }

  p {
    margin: 0;
  }
}

.fa-arrow-alt-circle-left::before {
  font-size: $arrowSize;
  color: $arrowColor;
}

.fa-arrow-alt-circle-right::before {
  font-size: $arrowSize;
  color: $arrowColor;
}

button:focus {
  outline: none;
}

@media only screen and (max-width: 1024px) {
  .fa-arrow-alt-circle-left::before {
    font-size: $arrowSizeSmallerDesktop;
  }

  .fa-arrow-alt-circle-right::before {
    font-size: $arrowSizeSmallerDesktop;
  }
}

@media only screen and (max-width: 768px) {
  #flashcard-section {
    #flip-container-wrapper {
      .flip-container,
      .front,
      .back {
        width: 500px;
        height: 400px;
      }
    }
  }

  #interaction-section {
    .interaction-bullets {
      width: 50%;
    }

    button {
      width: 30%;
    }
  }

  .fa-arrow-alt-circle-left::before {
    font-size: $arrowSizeTablet;
  }

  .fa-arrow-alt-circle-right::before {
    font-size: $arrowSizeTablet;
  }
}

@media only screen and (max-width: 425px) {
  #flashcard-page {
    margin-top: ($headerHeight + 40px);
  }

  #flashcard-section {
    margin-bottom: $containerSpacing;

    .change-flashcard-large {
      display: none;
    }

    #flip-container-wrapper {
      .flip-container,
      .front,
      .back {
        width: 400px;
        height: 266px;
      }
    }
  }

  #creator-section {
    #creator-header {
      img {
        max-height: 200px;
        max-width: auto;
      }
    }

    #creator-profile {
      flex-direction: column;

      img {
        align-self: center;
        max-width: none;
      }

      .creator-profile-element {
        width: 100%;
      }
    }
  }

  #change-flashcard-mobile-section {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
  }

  #interaction-section {
    button {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 375px) {
  #flashcard-page {
    #flashcard-section {
      #flip-container-wrapper {
        .flip-container,
        .front,
        .back {
          width: 350px;
        }
      }

      .flashcard-base {
        .body {
          img {
            width: 320px;
            height: auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  #flashcard-page {
    #flashcard-section {
      #flip-container-wrapper {
        .flip-container,
        .front,
        .back {
          width: 300px;
        }
      }

      .flashcard-base {
        .body {
          img {
            width: 280px;
          }
        }
      }
    }
  }
}
