@import '../../../styles.scss';

#forumContainer {
  border: 1px solid #000000;
  display: flex;
  #generalTopic {
    border: 1px solid black;
    .fas fa-comments {
      border: 1px solid black;
    }
  }
  #randomTopic {
    border: 1px solid black;
  }
  #englishTopic {
    border: 1px solid black;
  }
  #spanishTopic {
    border: 1px solid black;
  }
  #italianTopic {
    border: 1px solid black;
  }
}
.forum-container {
  color: var(--headerColor);
  font-family: 'B612', sans-serif;
  margin-bottom: 4em;
}

.forum-topic-box {
  // background-color: hsl(197, 56%, 69%);
  background-color: var(--buttonBgColor);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
  display: flex;
  text-align: center;
  justify-content: center;
  // font-family: var(--textFont);
  font-family: 'B612', sans-serif;
}
.forum-topic-box:hover {
  background-color: var(--headerColor);
}

.new-post-btn {
  padding: 10px 15px;
  border-radius: 6px;
  // width: 100%;
  // width: 25%;
  font-size: 16px;
  color: var(--buttonFontColor);
  background-color: var(--headerColor);
  // border: var(--buttonBorder);
  border: none;
  font-size: 1.2em;
  @media only screen and (min-width: 768px) {
    width: 20%;
  }

  &:hover {
    background-color: var(--navColor);
    cursor: pointer;
  }
}
